{#{% extends '../../layout.html.twig' %}#}

{#{% block title %}{{parent()}} - Home{% endblock title %}#}
 {% include "./navigation/index.html.twig" %}
{% block body %}
    {#{{parent()}}#}
    <div>header</div>
   
{% endblock %}
