{##
 # /views/home/home.twig
 #}

{% extends '../../layout.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block body %}
    Article redev
    <div class="test">Class .teste</div>
    <img src="./assets/img/background.jpg" alt="" />
{% endblock %}