{#
    view/components/home/index.html.twig
#}

{% extends '../../layout.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block body %}

    <h2>Home Page</h2>

    <img src="./assets/img/sample.jpg" alt="" />

    {% include "../../shared/article/index.html.twig" %}

{% endblock %}
