{##
 # /views/layout.html.twig
 #}

<!DOCTYPE html>
<html>
	<head>
	{% block head %}

		<title>{% block title %}PMD Static{% endblock %}</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

		<link rel="stylesheet" href="assets/main.css">

	{% endblock %}
	</head>
	<body class="body">
        Layout
        {% include "../views/shared/header/index.html.twig" %}
		{% block body %}
            In Body Block test
            
		{% endblock %}

        {% block content %}
                <img src="assets/img/sample.jpg" alt="" />
        {% endblock %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.js"></script>
        <script src="assets/main.js"></script>
	</body>
</html>
