/* custom properties */

:root {
    --fontSize: 1rem;
    --mainColor: #123456;
    --highlightColor: hwb(190, 35%, 20%);
}

/* custom media queries definition */

@custom-media --viewport-medium (width<=50rem);
