{##
 # /views/home/home.twig
 #}

{% extends '../../layout.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block body %}
    Article re
    <div class="test">Class .test</div>
	{#<div style="color:blue">{{ data.resource.id }}</div>
    <div style="color:pink">{{ dump( data.resource.paths[05] ) }}</div>#}
{% endblock %}